<!--
  Html de página de administración de tokens.
  Aplicación web de sistema tokenizador.
  Proyecto Lovelace.
-->

<div
  class="seccion"
  flex="none"
  layout="column">

  <div>
    <h3>Refreso de llaves</h3>
    <p>
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames
      ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
      tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
      ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
      et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
      commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt
      condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
      Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus,
      neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna
      eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan
      porttitor, facilisis luctus, metus.
    </p>
    <div
      layout="row"
      layout-align="center">
      <md-button
        ng-if="usuario.fields.estadoDeUsuario == 'aprobado'"
        class="md-raised md-primary"
        ng-click="iniciarRefrescoDeLlaves($event)">
        Iniciar refresco de llaves
      </md-button>
      <md-button
        ng-if="usuario.fields.estadoDeUsuario == 'en cambio de llaves'"
        class="md-raised md-primary"
        ng-click="terminarRefrescoDeLlaves($event)">
        Terminar refresco de llaves
      </md-button>
    </div>
  </div>

  <div>
    <h3>Cuenta</h3>
    <div
      layout="row"
      layout-align="center">
      <md-button
        class="md-raised md-primary"
        ng-click="actualizarDatos($event)">
        Actualizar datos
      </md-button>
      <md-button
        class="md-raised md-primary"
        ng-click="actualizarDatos($event)">
        Eliminar cuenta
      </md-button>
    </div>
  </div>

</div>
