<!--
  Html de página de carrito.
  Tienda en línea.
  Proyecto Lovelace.

  TODO:
  * La entrada numérica ya está bloqueada con el máximo en las existencias;
    falta mostrar un mensaje de error.
  * Poner botón con liga a los detalles de cada libro.

-->

<div
  class="seccion"
  flex="none"
  layout="column">
  <md-table-container>
    <table md-table>
      <thead md-head>
        <tr md-row>
          <th md-column>
            Cantidad
          </th>
          <th md-column>
            Libro
          </th>
          <th md-column md-numeric>
            P. Unitario
          </th>
          <th md-column md-numeric>
            Total
          </th>
          <th md-column></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="libro in carrito.libros">
          <td md-cell>
            <div layout="row">
              <md-input-container>
                <input
                  ng-model="libro.cantidad"
                  md-no-asterisk
                  required
                  type="number"
                  min="1"
                  max="{{libro.existencias}}"
                  autocomplete="off"
                  ng-change="cambioDeCantidad()"
                  aria-label="cantidad">
              </md-input-container>
              <span flex></span>
            </div>
          </td>
          <td md-cell>
            <p>
              <em>{{libro.titulo}}</em>, {{libro.autor[0]}}
            </p>
          </td>
          <td md-cell>
            <p>
              {{libro.precio | currency}}
            </p>
          </td>
          <td md-cell>
            <p>
              {{libro.precio * libro.cantidad | currency}}
            </p>
          </td>
          <td md-cell>
            <div layout="row">
              <span flex></span>
              <div>
                <md-button class="md-primary" layout="column"
                  ng-click="quitarDelCarrito(libro)">
                  <span flex></span>
                  <md-tooltip md-direction="left">
                    Quitar libro del carrito
                  </md-tooltip>
                  <i class="material-icons">clear</i>
                  <span flex></span>
                </md-button>
              </div>
            </div>
          </td>
        </tr>
        <tr md-row ng-if="carrito.libros.length == 0">
          <td md-cell colspan="5">
            <div layout="row">
              <span flex></span>
              <p>
                <i>
                  No hay ningún libro en el carrito.
                </i>
              </p>
              <span flex></span>
            </div>
          </td>
        </tr>
        <tr md-row>
          <td md-cell colspan="3">
            <p>
              <b>Total</b>
            </p>
          </td>
          <!-- TODO: ¡este style no debería de ir aquí! -->
          <td md-cell style="text-align: right">
            <p>
              {{carrito.total | currency}}
            </p>
          </td>
          <td md-cell></td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <div
    layout="row"
    layout-align="center">
    <md-button
      ng-click="finalizarCompra($event)"
      class="md-primary md-raised">
      Finalizar compra
    </md-button>
  </div>
</div>
