<!--
  Html de página de administración de cuenta.
  Tienda en línea.
  Proyecto Lovelace.

  TODO:
  * Agregar a la vista de métodos de pago la dirección de facturación.
  * Agregar el historial de compras.
-->

<div
  class="seccion"
  flex="none"
  layout="column">
  <h2>
    Información personal
  </h2>
  <md-divider class="divisor-de-seccion"></md-divider>
  <div class="etiqueta">
    <p class="etiqueta-descripcion">
      Nombre de usuario
    </p>
    <p class="etiqueta-contenido">
      {{usuario.nombre}}
    </p>
  </div>
  <div class="etiqueta">
    <p class="etiqueta-descripcion">
      Correo electrónico
    </p>
    <p class="etiqueta-contenido">
      {{usuario.correo}}
    </p>
  </div>
  <div
    layout="row"
    layout-align="start">
    <md-button
      ng-click="actualizarUsuario($event)"
      class="md-primary md-raised boton-en-texto">
      Editar información
    </md-button>
  </div>
  <h2>
    Métodos de pago
  </h2>
  <md-divider class="divisor-de-seccion"></md-divider>
  <p ng-if="tarjetas.length == 0">
    <em>
      No hay ningún método de pago guardado.
    </em>
  </p>
  <md-grid-list
    md-cols="4"
    md-cols-xs="1"
    md-cols-sm="2"
    md-cols-md="3"
    md-cols-xl="5"
    md-row-height="420px"
    md-gutter="10px">
    <md-grid-tile ng-repeat="tarjeta in tarjetas">
      <md-whiteframe
        class="md-whiteframe-4dp tarjeta">
        <div layout="column" style="height: 100%">
          <div class="etiqueta">
            <p class="etiqueta-descripcion">
              Titular de cuenta
            </p>
            <p class="etiqueta-contenido">
              {{tarjeta.fields.titular}}
            </p>
          </div>
          <div class="etiqueta">
            <p class="etiqueta-descripcion">
              Terminación
            </p>
            <p class="etiqueta-contenido">
              <em>{{tarjeta.fields.terminacion}}</em>
            </p>
          </div>
          <div class="etiqueta">
            <p class="etiqueta-descripcion">
              Fecha de expiración
            </p>
            <p class="etiqueta-contenido">
              {{tarjeta.fields.expiracion | date}}
            </p>
          </div>
          <div class="etiqueta">
            <p class="etiqueta-descripcion">
              Emisor
            </p>
            <p class="etiqueta-contenido">
              {{tarjeta.fields.emisor}}
            </p>
          </div>
          <div class="etiqueta">
            <p class="etiqueta-descripcion">
              Tipo de tarjeta
            </p>
            <p class="etiqueta-contenido">
              {{tarjeta.fields.tipoDeTarjeta}}
            </p>
          </div>
          <div class="etiqueta">
            <p class="etiqueta-descripcion">
              Método de tokenización
            </p>
            <p class="etiqueta-contenido">
              {{tarjeta.fields.metodo}}
            </p>
          </div>
          <span flex></span>
          <div
            layout="row"
            layout-align="center">
            <md-button
              ng-click="quitarMetodoDePago($event, tarjeta)"
              class="md-primary">
              Quitar método
            </md-button>
          </div>
        </div>
      </md-whiteframe>
    </md-grid-tile>
  </md-grid-list>
  <div
    layout="row"
    layout-align="start">
    <md-button
      ng-click="agregarMetodoDePago($event)"
      class="md-primary md-raised boton-en-texto">
      Agregar método de pago
    </md-button>
  </div>
  <h2>
    Direcciones de entrega
  </h2>
  <md-divider class="divisor-de-seccion"></md-divider>
  <p ng-if="direcciones.length == 0">
    <em>
      No hay ninguna dirección de entrega guardada.
    </em>
  </p>
  <md-grid-list
    md-cols="4"
    md-cols-xs="1"
    md-cols-sm="2"
    md-cols-md="3"
    md-cols-xl="5"
    md-row-height="480px"
    md-gutter="10px">
    <md-grid-tile ng-repeat="direccion in direcciones">
      <md-whiteframe
        class="md-whiteframe-4dp tarjeta">
        <div layout="column" style="height: 100%">
          <div class="etiqueta">
            <p class="etiqueta-descripcion">
              Calle
            </p>
            <p class="etiqueta-contenido">
              {{direccion.fields.calle}}
            </p>
          </div>
          <div class="etiqueta">
            <p class="etiqueta-descripcion">
              Número interior
            </p>
            <p class="etiqueta-contenido">
              {{direccion.fields.numeroInterior}}
            </p>
          </div>
          <div class="etiqueta">
            <p class="etiqueta-descripcion">
              Número exterior
            </p>
            <p class="etiqueta-contenido">
              {{direccion.fields.numeroExterior}}
            </p>
          </div>
          <div class="etiqueta">
            <p class="etiqueta-descripcion">
              Colonia
            </p>
            <p class="etiqueta-contenido">
              {{direccion.fields.colonia}}
            </p>
          </div>
          <div class="etiqueta">
            <p class="etiqueta-descripcion">
              Municipio
            </p>
            <p class="etiqueta-contenido">
              {{direccion.fields.municipio}}
            </p>
          </div>
          <div class="etiqueta">
            <p class="etiqueta-descripcion">
              Estado
            </p>
            <p class="etiqueta-contenido">
              {{direccion.fields.estado}}
            </p>
          </div>
          <div class="etiqueta">
            <p class="etiqueta-descripcion">
              Código postal
            </p>
            <p class="etiqueta-contenido">
              {{direccion.fields.cp}}
            </p>
          </div>
          <span flex></span>
          <div
            layout="row"
            layout-align="center">
            <md-button
              ng-click="quitarDireccionDeEntrega($event, direccion)"
              class="md-primary">
              Quitar dirección
            </md-button>
          </div>
        </div>
      </md-whiteframe>
    </md-grid-tile>
  </md-grid-list>
  <div
    layout="row"
    layout-align="start">
    <md-button
      ng-click="agregarDireccionDeEntrega($event)"
      class="md-primary md-raised boton-en-texto">
      Agregar dirección de entrega
    </md-button>
  </div>
  <h2>
    Historial de compras
  </h2>
  <md-divider class="divisor-de-seccion"></md-divider>
</div>
