<!--
  Html de página de detalles de libro.
  Tienda en línea.
  Proyecto Lovelace.

  TODO:
    Hacer que esto funcione en pantallas de proporción vertical.
    Agregar entrada numérica para cantidad.
-->

<div
  class="seccion"
  flex="none"
  layout="column">
  <div
    layout="row"
    layout-margin="20">
    <div
      layout="column"
      layout-align="start center">
      <img ng-src="estaticos/imagenes/libros/l{{libro.foto}}"/>
      <div>
        <md-button
          ng-if="!libro.enCarrito"
          ng-click="agregarAlCarrito(libro)"
          class="md-primary conIcono"
          ng-disabled="libro.existencias == 0">
          <i class="material-icons">add_shopping_cart</i>
          <md-tooltip>Agregar al carrito</md-tooltip>
        </md-button>
        <md-tooltip
          ng-if="libro.existencias == 0">
          Sin existencias
        </md-tooltip>
      </div>
      <md-button
        ng-if="libro.enCarrito"
        ng-click="quitarDelCarrito(libro)"
        class="md-primary conIcono">
        <i class="material-icons">remove_shopping_cart</i>
        <md-tooltip>Quitar del carrito</md-tooltip>
      </md-button>
    </div>
    <div>
      <ego-etiqueta descripcion="'Título'">
        {{libro.titulo}}
      </ego-etiqueta>
      <ego-etiqueta descripcion="'Autor'">
        {{libro.autor[0] | nombre}}
      </ego-etiqueta>
      <ego-etiqueta descripcion="'Editorial'">
        {{libro.editorial}}
      </ego-etiqueta>
      <ego-etiqueta descripcion="'Edición'">
        {{libro.edicion}}
      </ego-etiqueta>
      <ego-etiqueta descripcion="'Año'">
        {{libro.anio}}
      </ego-etiqueta>
      <ego-etiqueta descripcion="'Número de páginas'">
        {{libro.paginas}}
      </ego-etiqueta>
      <ego-etiqueta descripcion="'Género'">
        {{libro.genero}}
      </ego-etiqueta>
      <ego-etiqueta descripcion="'Precio'">
        {{libro.precio | currency}}
      </ego-etiqueta>
      <ego-etiqueta descripcion="'Ejemplares en existencias'">
        {{libro.existencias}}
      </ego-etiqueta>
    </div>
  </div>
</div>
