
# Archivos de draw.io, tratados como binarios.
**/diagramas/*.xml binary
**/diagramas_comunes/**/*.xml binary

# Archivo lock de Ruby, tratado como autogenerado
Gemfile.lock linguist-generated

# Archivos de documentación
documentacion_doxygen/* linguist-documentation

# Generados por doxygen (con ediciones propias)
pagina_publica/plantillas_html/encabezado.html linguist-generated
pagina_publica/plantillas_html/pie.html linguist-generated
pagina_publica/plantillas_html/estilo.css linguist-generated

# Estilos de beamer
documentos_entregables/estilos_de_presentaciones/dresen_lsc/* linguist-vendored

# Clase de artículos de Springer
documentos_entregables/llncs.cls
