<!--
  Formulario de inicio de sesión,
  Aplicación web de sistema tokenizador.
  Proyecto Lovelace.
-->

<md-dialog
  flex="20"
  flex-lg="30"
  flex-md="40"
  flex-sm="60"
  flex-xs="80">
  <md-dialog-content>
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h1>Iniciar sesión</h1>
      </div>
    </md-toolbar>
    <div
      layout="row"
      layout-align="center center">
      <form
        name="formularioIniciarSesion"
        id="formularioIniciarSesion"
        novalidate
        flex="90"
        ng-submit="aceptar($evento)">
        <md-input-container>
          <label>Correo electrónico</label>
          <input
            name="correo"
            ng-model="usuario.correo"
            md-no-asterisk
            required
            md-autofocus
            autocomplete="off"
            spellcheck="false">
          <!--
            El autocomplete=off en este campo es para romper paradigmas,
            que los usuarios tecleen todo. Además, los autocompletes de los
            navegadores son horribles. Chrome/chromium pone todo el input de
            color amarillo.
          -->
        </md-input-container>
        <md-input-container>
          <label>Contraseña</label>
          <input
            name="contrasenia"
            type="password"
            ng-model="usuario.contrasenia"
            md-no-asterisk
            required
            autocomplete="off"
            spellcheck="false">
        </md-input-container>
        <div
          ng-if="error"
          ng-include="'estaticos/mensajes/credenciales_incorrectas.tex'"
          class="mensajes"
          md-colors="{color: 'accent'}">
        </div>
      </form>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button
      ng-click="cancelar()"
      class="md-primary">
      Cancelar
    </md-button>
    <md-button
      id="formularioBotonIniciarSesion"
      class="md-raised md-primary"
      type="submit"
      ng-disabled="formularioIniciarSesion.$invalid"
      form="formularioIniciarSesion">
      Iniciar sesión
    </md-button>
  </md-dialog-actions>
</md-dialog>
